/********************************************************/
/* COLORS */
/********************************************************/

//Lima: green in header
$lima: #69bf14;
$denim: #1975c0;
$hippie-green: #4c8d53;

